.header {
  background-color: #262626;
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(5rem, 1fr) [center-start] (minmax(min-content, 18rem))[8] [center-end] minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) [center-start] repeat(8, minmax(-webkit-min-content, 18rem)) [center-end] minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) [center-start] repeat(8, minmax(min-content, 18rem)) [center-end] minmax(5rem, 1fr);
}

.header__nav {
  grid-column: center-start / center-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav > * {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__nav > *:hover {
  background-color: #3F3F3F;
}

.header__nav-link:link, .header__nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  padding: 1.9rem;
}

.header__nav .flag {
  height: 100%;
  display: block;
  margin-right: -1rem;
}

.footer {
  background-color: #262626;
  grid-column: full-start / full-end;
}

.content {
  grid-column: center-start  / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  padding: 5rem 0;
}

.card {
  background-color: #262626;
  position: relative;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content min-content;
      grid-template-rows: -webkit-max-content -webkit-min-content;
      grid-template-rows: max-content min-content;
  -webkit-box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card__img {
  height: 100%;
  width: 100%;
  display: block;
}

.card .btn-span {
  color: #fff;
  display: block;
  border: none;
  text-decoration: none;
  background-color: #262626;
  padding: 1rem 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.card:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.8);
          box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.8);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  font-weight: 300;
  font-family: sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6rem min-content 6rem;
      grid-template-rows: 6rem -webkit-min-content 6rem;
      grid-template-rows: 6rem min-content 6rem;
  -ms-grid-columns: [full-start] minmax(5rem, 1fr) [center-start] (minmax(min-content, 18rem))[8] [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, minmax(-webkit-min-content, 18rem)) [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, minmax(min-content, 18rem)) [center-end] minmax(5rem, 1fr) [full-end];
}

.rating {
  grid-column: center-start / center-end;
  background-color: #ebebeb;
  color: #262626;
  padding: 3rem;
  min-height: 100vh;
}

.rating__head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating__head-box-line {
  display: block;
  height: 2px;
  width: 80%;
  margin: 0 auto;
  background-color: #c0b8b5;
  margin: 3rem auto;
}

.rating__heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 80%;
          flex: 0 80%;
  display: block;
  text-align: center;
}

.rating__heading > * {
  font-size: 3.2rem;
  font-weight: 300;
}

.rating__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating__img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.rating__rate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.7);
          box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.7);
}

.rating__label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  background-color: #525252;
  color: #fff;
}

.rating__label {
  font-size: 2rem;
}

.rating__label--heading {
  font-size: 3rem;
  display: block;
  font-weight: 500;
}

.rating__label--heading::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: #fff;
  margin-top: 1.4rem;
}

.rating__label--text::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #6b6b6b;
  margin-top: 2rem;
}

.rating__setup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rating__textbox {
  margin-right: auto;
}

.rating textarea {
  resize: none;
  -webkit-transition: all .05s;
  transition: all .05s;
}

.rating textarea:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: grey;
}

.rating__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rating__section--heading {
  display: block;
  text-align: center;
  font-size: 2.7rem;
  padding: 2rem 0;
}

.rating__commands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating .br-widget {
  background-color: #858383 !important;
}

.rating .br-widget > * {
  display: inline-block;
  margin-top: .5rem;
}
/*# sourceMappingURL=main.css.map */