*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-weight: 300;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 6rem min-content 6rem;
    grid-template-columns:[full-start] minmax(5rem,1fr) [center-start] repeat(8,minmax(min-content,18rem)) [center-end] minmax(5rem,1fr) [full-end];
}