.footer {
    background-color: #262626;
    grid-column: full-start / full-end;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    
}